::-webkit-scrollbar{
    height: calc(1vh);
}

::-webkit-scrollbar-track{
    /*background: transparent;*/
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background: #b83232;
}

::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}
.uppercase {
    text-transform: uppercase;
    font-weight: 600;
    font-size: calc(2vh);
}